@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-cogs:before, .icon-envelop:before,.icon-close:before, .icon-plus:before, .icon-cloud-download:before, .icon-cloud-upload:before, .icon-undo:before, .icon-redo:before, .icon-settings:before, .icon-heart:before, .icon-aid:before, .icon-star:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cogs:before {
	content: "\e000";
}
.icon-envelop:before {
	content: "\e005";
	margin-right:0.5em;
}
.icon-plus:before {
	content: "\e007";
}
.icon-cloud-download:before {
	content: "\e003";
}
.icon-cloud-upload:before {
	content: "\e004";
}
.icon-undo:before {
	content: "\e001";
}
.icon-redo:before {
	content: "\e002";
}
.icon-settings:before {
	content: "\e009";
}
.icon-heart:before {
	content: "\e00a";
}
.icon-aid:before {
	content: "\e008";
	margin-right:0.5em;
}
.icon-star:before {
	content: "\e00b";
	margin-right:0.5em;
}
.icon-close:before {
	content: "\e006";
}


a{
	color:#999;
}

.clear{
	clear:both;
}

html, body {
    background: url("../img/ressources/global_bg.jpg") repeat #222;
	color: #999;
	font-family: 'Open Sans', Arial;
	font-size:1em;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

nav {
    position:absolute;
    bottom:-22px;
    right:-1px;
	background-color: #343d3f;
	border-bottom:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-right:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 0 0 2px 2px; 
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px; 
}

.info-container {
	font-size:0.8em;
    position:absolute;
    height:200px;
    width:800px;
    top:-200px;
    margin-left:200px;
    background: none repeat scroll 0 0 rgba(22,22,22,0.75);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    z-index:5;
    transition:top .4s ease-out;
    -moz-transition:top .4s ease-out; 
    -webkit-transition:top .4s ease-out; 
    -o-transition:top .4s ease-out;
}

.info-container.active {
    display:block;
    top:0;
}

.text-container {
    position:absolute;
    padding:1em;
}

.menu {
	list-style:none;
}

.menu li {
	float:left;
	background-color: #343d3f;
}
.menu li span{
	font-size:0.9em;
	cursor: pointer;
	text-decoration: none;
	display:block;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	padding: 2px 10px 3px;
}
.menu li:hover {
	background-color: #434d4f;
}
.menu li.active {
	background-color: #434d4f;
}
.menu .separator-white {
	border-right:1px solid rgba(255,255,255,0.2);
}

.logo {
	background: url('../img/ressources/logo.png') no-repeat 0 0 transparent;
	width: 106px;
	height: 48px; 
	margin:15px 0 5px 0;
	float:left;
}

.options {
	float:left;
	background-color: #343d3f;
	margin-left:210px;
	overflow:hidden;
	border-top:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-right:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 3px 3px 0 0; 
    -moz-border-radius: 3px 3px 0 0; 
    border-radius: 3px 3px 0 0; 
}

.options li span{
	font-size:.85em;
}

.main {
	position:relative;
}

aside {
	width:200px;
	float:left;
}

.filter-menu .filter-button.active {
	opacity: 1;
	width: 75px;
	margin-right: -1px;
}

.filter-menu {
  	float: right;
    width: 82px;
    text-align:right;
}

.filter-button span {
	float:right;
	display:block;
}

.filter-button {
	background-color: #343d3f;
	border-bottom:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-top:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 3px 0 0 3px; 
    -moz-border-radius: 3px 0 0 3px; 
    border-radius: 3px 0 0 3px; 
	margin-bottom: 5px;
	padding:3px 5px 4px 5px;
	width: 65px;
	float:right;
	opacity:0.75;
	cursor:pointer;
	font-size:0.75em;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.filter-button:hover {
    width: 75px; 
}

.filter-button {
	cursor:pointer;
}

.preview-container {
    background: none repeat scroll 0 0 #343d3f;
    float: right;
    margin-right: 10px;
    padding: 10px 10px 0 10px;
    width: 85px;
    border:1px solid rgba(255,255,255,0.15);	
  	-webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.5); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.5); ; /* FF3.5 - 3.6 */
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.5); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

aside .preview-container canvas{
 	background: none repeat scroll 0 0 #A5A5A9;
    margin-bottom: 10px;
    padding: 4px;
    cursor:pointer;
    width:75px;
    height:75px;
}

.image-container{
	width:735px;
	float:left;
	position:relative;
}

.progress-loader {
	display: none;
	position: absolute;
	z-index: 6;
	width:126px;
}

#save{
	display:none;
}

#uploader{
	display:none;
}

#canvas{
	cursor:pointer;
}

.main-img{
	padding: 10px;
	background: url('../img/ressources/noise.png') repeat top left #a6a5a7;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 4;
	max-width:780px;
}

.slider {
	background: none repeat scroll 0 0 rgba(22,22,22,0.75);
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 2px;
	cursor: pointer;
	font-size: 0.8em;
	overflow: hidden;
	padding: 5px 20px 20px 10px;
	width: 225px;
	top:10px;
	left:10px;
	z-index: 4;
	position: absolute;
}

.close-button{
	position:relative;
	float: right;
	padding:2px 5px; 
    margin-right: -20px;
    margin-top:-5px;
    border: 1px solid rgba(255,255,255,0.2);
    border-top:none;
    border-right:none;
    color:#bcbcbc;
  	-webkit-border-radius: 0 0 0 3px; 
    -moz-border-radius: 0 0 0 3px; 
    border-radius: 0 0 0 3px; 
    cursor:pointer;
    z-index:6;
}

.close-button:hover {
	 background:rgba(255,255,255,0.2);
}

.info-container .close-button{
	margin:0;
}
.slider  p {
	padding:5px 0;
}

.slider > div {
	margin-left: 10px;
}

.slider .ui-widget-content a {
    background: url("../img/ressources/global_bg.png") repeat #343D3F;
}

.slider .ui-widget-content a:hover {
	background: url("../img/ressources/global_bg.png") repeat #454645;
	cursor:pointer;
    border: 1px solid rgba(255,255,255,0.75);
}

.slider .ui-widget-content a.ui-state-focus {
    border: 1px solid rgba(255,255,255,0.75);
}

.slider .ui-widget-content {
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    color: #333;
}

.slider .ui-widget-header {
    background:rgba(229, 243, 247,0.1);
}

.slider input {
	border: 0;
	color: #999;
	width: 50px;
	font-size:12px;
	background: none;
}

.rounded {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.shadow-less {
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
