html,body,div, span, nav,ul,li, header, aside,a,canvas,img, p, h1, h2, input, select, textarea  {
	padding: 0;
	margin: 0;
}

a{
	color:#999;
}

.clear{
	clear:both;
}

html, body {
    background: url("../img/ressources/global_bg.jpg") repeat #222;
	color: #999;
	font-family: 'Open Sans', Arial;
	font-size:12px;
}

h1 {
    font-size:30px;
    font-weight:normal;
    padding:5px 5px 5px 10px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

nav {
    position:absolute;
    bottom:-22px;
    right:-1px;
	background-color: #343d3f;
	border-bottom:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-right:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 0 0 2px 2px; 
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px; 
}

.info-container {
    position:absolute;
    height:200px;
    width:820px;
    top:-200px;
    margin-left:180px;
    background: none repeat scroll 0 0 rgba(22,22,22,0.75);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    cursor: pointer;
    z-index:5;
    transition:top 2s;
    -moz-transition:top 2s; 
    -webkit-transition:top 2s; 
    -o-transition:top 2s;
}

.info-container.active {
    display:block;
    top:0;
}

.text-container {
    position:absolute;
}

.text-container p {
    margin:20px;
}

.close {
    padding:5px;
    border: 1px solid rgba(255,255,255,0.2);
    float:right;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

.menu {
	list-style:none;
}

.menu li {
	float:left;
}
.menu li a {
	font-size:11px;
	cursor: pointer;
	text-decoration: none;
	display:block;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	background-color: #343d3f;
	padding: 2px 10px 3px;
}
.menu li a:hover {
	background-color: #434d4f;
}
.menu li a.active {
	background-color: #434d4f;
}

.icon {
	background: url('../img/ressources/picsma_sprite.png') no-repeat 0 0;
}

.icon.help {
	background-position:-12px -82px;
	padding-left:13px;
	
}
.icon.about {
	background-position:-10px -120px;
	padding-left:22px;
}
.icon.contact {
	background-position:-11px -53px;
	padding-left:15px;
}

.menu li .separator-white {
	border-right:1px solid rgba(255,255,255,0.2);
}

.logo {
	background: url('../img/ressources/picsma_sprite.png') no-repeat 0 0;
	width: 106px;
	height: 48px; 
	margin:15px 0 5px 0;
	float:left;
}

.options {
	float:left;
	background-color: #343d3f;
	margin-left:210px;
	overflow:hidden;
	border-top:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-right:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 3px 3px 0 0; 
    -moz-border-radius: 3px 3px 0 0; 
    border-radius: 3px 3px 0 0; 
}

.icon.settings {
    background-position: -14px -299px;
    padding-left: 17px;
}

.icon.save {
	background-position:-14px -253px;
	padding-left: 15px;
}

.main {
	position:relative;
}

aside {
	width:200px;
	float:left;
}

.filter-menu .filter-button.active {
	opacity: 1;
	width: 75px;
	margin-right: -1px;
}

.filter-menu {
  	float: right;
    width: 82px;
    text-align:right;
}

.filter-button span {
	float:right;
	display:block;
}

.filter-button {
	background-color: #343d3f;
	border-bottom:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-top:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 3px 0 0 3px; 
    -moz-border-radius: 3px 0 0 3px; 
    border-radius: 3px 0 0 3px; 
	margin-bottom: 5px;
	padding:3px 5px 4px 5px;
	width: 65px;
	float:right;
	opacity:0.75;
	cursor:pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.filter-button:hover {
    width: 75px; 
}

.filter-button {
	cursor:pointer;
}

.preview-container {
    background: none repeat scroll 0 0 #343d3f;
    float: right;
    margin-right: 10px;
    padding: 10px 10px 0 10px;
    width: 85px;
    border:1px solid rgba(255,255,255,0.15);	
  	-webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.5); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.5); ; /* FF3.5 - 3.6 */
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.5); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

aside .preview-container canvas{
 	background: none repeat scroll 0 0 #A5A5A9;
    margin-bottom: 10px;
    padding: 4px;
    cursor:pointer;
    width:75px;
    height:75px;
}

.image-container{
	width:735px;
	float:left;
	position:relative;
}

.progress-loader {
	display: none;
	position: absolute;
	z-index: 6;
	width:126px;
}

.main-img{
	padding: 10px;
	background: url('../img/ressources/noise.png') repeat top left #a6a5a7;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 4;
	max-width:780px;
}

.slider {
	background: none repeat scroll 0 0 rgba(22,22,22,0.75);
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 2px;
	cursor: pointer;
	overflow: hidden;
	padding: 5px 20px 20px 10px;
	width: 225px;
	top:10px;
	left:10px;
	z-index: 4;
	position: absolute;
}

.close-button{
	font-size:14px;
	float: right;
	font-weight:bold;
	padding:2px 5px; 
    margin-right: -20px;
    margin-top:-10px;
    background:rgba(255,255,255,0.1);
    color:#bcbcbc;
}

.close-button:hover {
	 background:rgba(255,255,255,0.2);
}
.slider  p {
	padding:5px 0;
}

.slider > div {
	margin-left: 10px;
}

.slider .ui-widget-content a {
    background: url("../img/ressources/global_bg.png") repeat #343D3F;
}

.slider .ui-widget-content a:hover {
	background: url("../img/ressources/global_bg.png") repeat #454645;
	cursor:pointer;
    border: 1px solid rgba(255,255,255,0.75);
}

.slider .ui-widget-content a.ui-state-focus {
    border: 1px solid rgba(255,255,255,0.75);
}

.slider .ui-widget-content {
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    color: #333;
}

.slider .ui-widget-header {
    background:rgba(229, 243, 247,0.1);
}

.slider input {
	border: 0;
	color: #999;
	width: 50px;
	font-size:12px;
	background: none;
}

.rounded {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.shadow-less {
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
