html,body,div, span, nav,ul,li, header, aside,a,canvas,img, p, h1, h2, input, select, textarea  {
	padding: 0;
	margin: 0;
}
a{
	color:#999;
}
img{
	border:none;
}
.clear{
	clear:both;
}
html, body {
    background: url("../img/ressources/global_bg.jpg") repeat #222;
	color: #999;
	font-family: 'Open Sans', Arial, Verdana;
	font-size:12px;
}
#overlay {
	bottom:0;
	width: 100%;
	background-color: rgba(55,55,55,0.75);
	z-index: 2;
	top:-8px;
	position: fixed;
	cursor: pointer;
	display: none;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
}
#uploadBtn {
	display: none;
}
nav {
	overflow:hidden;
	background-color: #343d3f;
	display: block;
  	float: right;
	border-bottom:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-right:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 0 0 4px 4px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    -moz-border-radius: 0 0 4px 4px; /* FF1-3.6 */
    border-radius: 0 0 4px 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}
.menu {
	list-style: none;
}
.menu li {
	float:left;
}
.menu li a {
	font-size:11px;
	cursor: pointer;
	text-decoration: none;
	display:block;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	background-color: #343d3f;
	padding: 2px 10px 3px;
}
.menu li a:hover {
	background-color: #434d4f;
}
.menu li a.active {
	background-color: #434d4f;
}

span.icon {
	background: url('../img/ressources/picsma_sprite.png') no-repeat 0 0;
}

.icon.help {
	background-position:-12px -82px;
	padding-left:13px;
	
}
.icon.about {
	background-position:-10px -120px;
	padding-left:22px;
}
.icon.contact {
	background-position:-11px -53px;
	padding-left:15px;
}

.menu li .separator-white {
	border-right:1px solid rgba(255,255,255,0.2);
}
.menu li .separator-black{
	border-left:1px solid rgba(0,0,0,0.2);
}

.logo {
	background: url('../img/ressources/picsma_sprite.png') no-repeat 0 0;
	width: 106px;
	height: 48px; 
	margin:15px 0 5px 0;
	float:left;
}

.options {
	float:left;
	background-color: #343d3f;
	margin-left:210px;
	overflow:hidden;
	border-top:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-right:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 4px 4px 0 0; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    -moz-border-radius: 4px 4px 0 0; /* FF1-3.6 */
    border-radius: 4px 4px 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.icon.settings {
    background-position: -14px -299px;
    padding-left: 17px;
}

.icon.save {
	background-position:-14px -253px;
	padding-left: 15px;
}

.main {
	position:relative;
}

aside {
	width:200px;
	float:left;
}

aside .filter-menu{
  	float: right;
    width: 75px;
}
aside .filter-menu > div.active{
    opacity: 1;
    padding: 3px 5px 4px;
    width: 75px;
    margin-right:-1px;
}
aside .filter-menu > div{
	background-color: #343d3f;
	border-bottom:1px solid rgba(255,255,255,0.25);
	border-left:1px solid rgba(255,255,255,0.25);
	border-top:1px solid rgba(255,255,255,0.25);	
  	-webkit-border-radius: 4px 0 0 4px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    -moz-border-radius: 4px 0 0 4px; /* FF1-3.6 */
    border-radius: 4px 0 0 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	margin-bottom: 5px;
	text-align:right;
	padding:3px 5px 4px 5px;
	width: 65px;
	float:right;
	opacity:0.75;
	-webkit-transition: width 0.2s linear;
	-moz-transition: width 0.2s linear;
	-o-transition: width 0.2s linear;
	transition: width 0.2s linear;
}
aside .filter-menu div:hover{
    padding: 3px 5px 4px;
    width: 75px;
}
aside .filter-button{
	cursor:pointer;
}
aside .preview-container{
    background: none repeat scroll 0 0 #343d3f;
    float: right;
    margin-right: 10px;
    padding: 10px 10px 0 10px;
    width: 85px;
    border:1px solid rgba(255,255,255,0.15);	
  	-webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.5); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.5); ; /* FF3.5 - 3.6 */
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.5); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
aside .preview-container img{
 	background: none repeat scroll 0 0 #A5A5A9;
    margin-bottom: 10px;
    padding: 4px;
    cursor:pointer;
}
.canvasArea{
	width:735px;
	float:left;
	position:relative;
}
#progressIcon {
	display: none;
	position: absolute;
	z-index: 6;
	width:126px;
}
#hiddenImage {
	display: none;
}
.main-img{
	padding: 10px;
	background: url('../img/ressources/noise.png') repeat top left #a6a5a7;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 4;
	max-width:780px;
}

.settingSlider {
	background: none repeat scroll 0 0 rgba(22,22,22,0.75);
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden;
	padding: 5px 20px 20px 10px;
	width: 225px;
	top:10px;
	left:10px;
	z-index: 4;
	position: absolute;
}
.settingSlider .dragMe{
	 float: right;
    margin-right: -10px;
    opacity: 0.75;
}
.settingSlider  p {
	padding:5px 0;
}
.settingSlider #contrast, .settingSlider #brightness, .settingSlider #saturation {
	margin-left: 10px;
}
.settingSlider .ui-widget-content a {
    background: url("../img/ressources/global_bg.png") repeat #343D3F;
}
.settingSlider .ui-widget-content a:hover {
	background: url("../img/ressources/global_bg.png") repeat #454645;
	cursor:pointer;
    border: 1px solid rgba(255,255,255,0.75);
}
.settingSlider .ui-widget-content a.ui-state-focus {
    border: 1px solid rgba(255,255,255,0.75);
}
.settingSlider .ui-widget-content {
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    color: #333;
}
.settingSlider .ui-widget-header {
    background:#343D3F;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 4px;
}
.settingSlider input {
	border: 0;
	color: #999;
	width: 50px;
	font-size:12px;
	background: none;
}

.rounded-ten {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.rounded {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.rounded-two {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.rounded-three {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.rounded-two-top{
	-moz-border-radius-topright: 3px;
	-webkit-border-radius-topright: 3px;
	-o-border-radius-topright: 3px;
	border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-radius-topleft: 3px;
	-o-border-radius-topleft: 3px;
	border-radius-topleft: 3px;
}

.roundedLeftBtn {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius-bottomleft: 3px;
	-o-border-radius-bottomleft: 3px;
	border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-radius-topleft: 3px;
	-o-border-radius-topleft: 3px;
	border-radius-topleft: 3px;
}
.roundedRightBtn {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-radius-bottomright: 3px;
	-o-border-radius-bottomright: 3px;
	border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-radius-topright: 3px;
	-o-border-radius-topright: 3px;
	border-radius-topright: 3px;
}
.shadow {
	/**-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	-o-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);**/
}

.shadowLess {
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.highlight {
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,1);
	-o-box-shadow: 1px 1px 4px rgba(0,0,0,1);
	box-shadow: 1px 1px 4px rgba(0,0,0,1);
}

#dndUpload {
	display:none;
}
